server {
    listen 80;
    server_name {{ domain_name | default("example.com") }};
    root {{ movim_dir }}/public;
    index index.php index.html;

    # Pass all requests to index.php if not found
    location / {
        try_files $uri $uri/ /index.php?$args;
    }

    # Process PHP scripts
    location ~ \.php$ {
        include fastcgi_params;
        fastcgi_split_path_info ^(.+\.php)(/.+)$;
        fastcgi_pass unix:/run/php/php{{ php_version }}-fpm.sock;
        fastcgi_index index.php;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
    }

    # Deny access to .htaccess files and hidden files
    location ~ /\. {
        deny all;
    }
}
